[submodule "pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
	branch = 1.5.1
	shallow = true
[submodule "googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
	branch = v1.14.0
	shallow = true
[submodule "FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	branch = V11.1.0
	shallow = true
[submodule "protobuf"]
	path = lib/protobuf
	url = https://github.com/protocolbuffers/protobuf
	branch = v25.3
	shallow = true
