[submodule "pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
	branch = 1.5.1
	shallow = true
[submodule "googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
	branch = v1.14.0
	shallow = true
[submodule "FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	branch = V11.1.0
	shallow = true
[submodule "lib/mpack/src"]
	path = lib/mpack/src
	url = https://github.com/ludocode/mpack
	branch = v1.1.1
	shallow = true
[submodule "lib/Arduino-CMake-Toolchain"]
	path = lib/Arduino-CMake-Toolchain
	url = https://github.com/a9183756-gh/Arduino-CMake-Toolchain
	branch = release-1.1-dev
	shallow = true

